@font-face {
	font-family: 'Poppins';
	src: url('Poppins-SemiBold.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	src: url('Roboto-SemiBold.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	src: url('Roboto-Bold.woff2') format('woff2');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	src: url('Roboto-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

/**
  Нормализация блочной модели
 */
*,
::before,
::after {
	box-sizing: border-box;
}

/**
	Убираем внутренние отступы слева тегам списков,
	у которых есть атрибут class
   */
:where(ul, ol):where([class]) {
	padding-left: 0;
}

/**
	Убираем внешние отступы body и двум другим тегам,
	у которых есть атрибут class
   */
body,
:where(blockquote, figure):where([class]) {
	margin: 0;
}

/**
	Убираем внешние отступы вертикали нужным тегам,
	у которых есть атрибут class
   */
:where(h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p,
	ul,
	ol,
	dl):where([class]) {
	margin-block: 0;
}

:where(dd[class]) {
	margin-left: 0;
}

:where(fieldset[class]) {
	margin-left: 0;
	padding: 0;
	border: none;
}

/**
	Убираем стандартный маркер маркированному списку,
	у которого есть атрибут class
   */
:where(ul[class]) {
	list-style: none;
}

:where(address[class]) {
	font-style: normal;
}

/**
	Обнуляем вертикальные внешние отступы параграфа,
	объявляем локальную переменную для внешнего отступа вниз,
	чтобы избежать взаимодействие с более сложным селектором
   */
p {
	--paragraphMarginBottom: 24px;

	margin-block: 0;
}

/**
	Внешний отступ вниз для параграфа без атрибута class,
	который расположен не последним среди своих соседних элементов
   */
p:where(:not([class]):not(:last-child)) {
	margin-bottom: var(--paragraphMarginBottom);
}


/**
	Упрощаем работу с изображениями и видео
   */
img {
	display: block;
	max-width: 100%;
	height: auto;
}

/**
	Наследуем свойства шрифт для полей ввода
   */
input,
textarea,
select,
button {
	font: inherit;
}

html {
	/**
	  Пригодится в большинстве ситуаций
	  (когда, например, нужно будет "прижать" футер к низу сайта)
	 */
	height: 100%;
	/**
	  Убираем скачок интерфейса по горизонтали
	  при появлении / исчезновении скроллбара
	 */
	scrollbar-gutter: stable;
}

/**
	Плавный скролл
   */
html,
:has(:target) {
	scroll-behavior: smooth;
}

body {
	/**
	  Пригодится в большинстве ситуаций
	  (когда, например, нужно будет "прижать" футер к низу сайта)
	 */
	min-height: 100%;
	/**
	  Унифицированный интерлиньяж
	 */
	line-height: 1.5;
}

/**
	Нормализация высоты элемента ссылки при его инспектировании в DevTools
   */
a:where([class]) {
	display: inline-flex;
}

/**
	Курсор-рука при наведении на элемент
   */
button,
label {
	cursor: pointer;
}

/**
	Чиним баг задержки смены цвета при взаимодействии с svg-элементами
   */
svg * {
	transition-property: fill, stroke;
}

/**
	Приведение рамок таблиц в классический 'collapse' вид
   */
:where(table) {
	border-collapse: collapse;
	border-color: currentColor;
}

/**
	Удаляем все анимации и переходы для людей,
	которые предпочитают их не использовать
   */
@media (prefers-reduced-motion: reduce) {

	*,
	::before,
	::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

:root {
	--base-font: "Roboto";
	--blue-color: #09A8E3;
	--white-color: #ffffff;
	--pink-color: #FF545D;
	--pink-bg-gradient-end-color: #FF7272;
	--orange-color: #FF7337;
	--human-color: #FBCCAA;
	--gray-color: #474747;
}

/*Общие стили*/
body {
	font-family: var(--base-font);
	color: var(--white-color);
}

a {
	text-decoration: none;
	color: inherit;
}

/*Стилизация Header*/
.header {
	background-color: var(--blue-color);
}

.header-nav-bar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 43px 14.333vw 20px;
	column-gap: 20px;
}

.haeder-logo-link {}

.header-logo {
	display: flex;
	flex-direction: row;
	align-items: center;
	column-gap: 13px;
}

.header-logo span {
	font-family: "Poppins";
	font-weight: 600;
	font-size: 1.5rem;
}

.header-nav-list {
	display: flex;
	flex-direction: row;
	align-items: center;
	column-gap: 90px;
	font-size: 1.125rem;
}

.header-nav-item {
	font-weight: 600;
	position: relative;
}

.header-nav-item:before {
	content: "";
	width: 0px;
	height: 2px;
	background-color: rgb(255, 255, 255);
	position: absolute;
	display: block;
	bottom: -5px;
	left: 0;
	transition: all 0.2s;
}

.header-nav-item:hover:before {
	width: 100%;
}

.header-nav-link {
	position: relative;
}

.header-nav-link::before {
	content: '';
	position: absolute;
	display: block;
	top: -15px;
	left: -25px;
	right: -25px;
	bottom: -15px;
}

.header-market-links {
	display: flex;
	flex-direction: row;
	column-gap: 20px;
	align-items: center;
}

.header-market-links a {
	outline: 2px solid transparent;
	padding: 5px;
	border-radius: 10px;
	transition: all 0.2s;
}

.header-market-links a:hover {
	outline: 2px solid var(--white-color);
	padding: 5px;
	border-radius: 10px;
}

.burger-button {
	background-color: transparent;
	border: 0;
	display: none;
}

/*Адаптив Header*/
@media(max-width:1030px) {
	.header-nav-list {
		column-gap: 30px;
	}
}

@media(max-width:880px) {
	.header-logo {
		order: 3;
	}

	.burger-button {
		display: block;
		order: 1;
		z-index: 1005;
	}

	.header-nav-list.active {
		display: flex;
		align-items: start;
		justify-content: center;
		font-size: 1.5rem;
		row-gap: 20px;
		width: 40%;
		height: 100%;
	}

	.header-nav-list {
		display: none;
		flex-direction: column;
		position: fixed;
		top: 0;
		right: 0;
		background-color: var(--gray-color);
		padding-left: 20px;
		z-index: 1001;
	}

}

@media(max-width:865px) {
	.header-nav-bar {
		flex-wrap: wrap;
		row-gap: 20px;
	}

	.header-logo span {
		font-size: 1.3rem;
	}

	.header-nav-item {
		font-size: 1rem;
	}

	.header-logo img {
		width: 40px;
	}

	.header-nav-list {
		order: 1;
		width: 100%;
		justify-content: space-between;
	}
}

@media(max-width:500px) {
	.header-market-links {
		order: 1;
		width: 100%;
		justify-content: space-around;
	}
}

/*Стилизация Thomas*/
.main {
	background-color: var(--blue-color);
}

.thomas {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-inline: 14.333vw;
	justify-content: center;
	column-gap: 30px;
	position: relative;
	height: 80vh;
	padding-bottom: 100px;
	padding-top: 50px;
}

.thomas:before {
	content: "";
	display: block;
	position: absolute;
	width: 100%;
	height: 10%;
	bottom: 0;
	left: 0;
	background-image: url('/icons/Footer-white.svg');
	background-repeat: no-repeat;
	background-size: cover;
}

.thomas-info {
	max-width: 50%;
}

.thomas-info-title {
	font-size: 2.2rem;
	line-height: 1.5;
	margin-bottom: 20px;
}

.thomas-info-subtitle {
	font-size: 1.125rem;
	margin-bottom: 30px;
}

.thomas-info-actions {
	display: flex;
	flex-direction: row;
	align-items: center;
	column-gap: 30px;
}

.thomas-info-buy-button {
	display: block;
	display: flex;
	border: 2px solid var(--white-color);
	border-radius: 70px;
	padding: 8px 12px 8px 30px;
	font-size: 1.25rem;
	align-items: center;
	justify-content: space-between;
	column-gap: 14px;
	transition: all 0.2s;
	white-space: nowrap;

}

.thomas-info-buy-button:hover {
	background-color: var(--white-color);
	color: var(--blue-color);
}

.thomas-info-buy-button:hover .circle {
	border: 2px solid var(--blue-color);
}

.circle {
	border-radius: 50%;
	background-color: var(--white-color);
	width: 42px;
	aspect-ratio: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 2px solid transparent;
	transition: all 0.2s;
}

.circle svg path {
	fill: var(--blue-color);
}

.alternate {
	background-color: var(--white-color);
	color: var(--blue-color);
}

.alternate:hover {
	background-color: transparent;
	color: var(--white-color);
}

.alternate:hover .circle {
	border: 2px solid var(--white-color);
}

.alternate .circle {
	background-color: var(--blue-color);
}

.alternate .circle svg path {
	fill: var(--white-color);
}

.thomas-image {
	max-width: 50%;
	filter: drop-shadow(10px 10px 50px rgb(107, 107, 107));
}

/*Адаптив Thomas*/
@media(max-width:1384px) {
	.thomas-info-actions {
		flex-direction: column;
		row-gap: 20px;
	}

	.thomas-info-buy-button {
		width: 100%;
	}
}

@media(max-width:1187px) {
	.thomas:before {
		width: 100%;
		height: 5%;
	}
}

@media(max-width:900px) {
	.thomas-info {
		max-width: none;
		width: 100%;
	}

	.thomas-image {
		display: none;
	}
}

@media(max-width:600px) {
	.thomas:before {
		width: 100%;
		height: 3%;
	}
}

@media(max-width:500px) {
	.thomas-info-title {
		font-size: 2rem;
	}
}

@media(max-width:350px) {
	.thomas:before {
		width: 100%;
		height: 2%;
	}
}

/*Стилизация MacQueen*/
.maqueen {
	background: rgb(255, 255, 255);
	background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 114, 114, 1) 100%);
	display: flex;
	flex-direction: row;
	padding-block: 10.87vh;
	align-items: center;
	justify-content: space-between;
	padding-inline: 14.333vw;
	position: relative;
}

.maqueen::after {
	content: "";
	display: block;
	position: absolute;
	width: 100%;
	height: 10%;
	bottom: 0;
	left: 0;
	background-image: url('/icons/Footer-human.svg');
	background-repeat: no-repeat;
	background-size: cover;
}

.maqueen-image {
	width: 45%;
	filter: drop-shadow(10px 10px 50px rgb(107, 107, 107));
}

.maqueen-info {
	max-width: 50%;
}

.maqueen-info-title {
	font-size: 2.2rem;
	line-height: 1.5;
	margin-bottom: 20px;
	color: var(--pink-color);
}

.maqueen-info-subtitle {
	font-size: 1.2rem;
	margin-bottom: 20px;
	color: var(--pink-color);
}

.maqueen-info-actions {
	display: flex;
	flex-direction: row;
	align-items: center;
	column-gap: 20px;
}

.maqueen-info-buy-button {
	display: flex;
	flex-direction: row;
	align-items: center;
	border: 2px solid var(--pink-color);
	border-radius: 70px;
	padding: 8px 12px 8px 30px;
	font-size: 1.25rem;
	column-gap: 14px;
	transition: all 0.2s;
	white-space: nowrap;
	background-color: var(--pink-color);
}

.maqueen-info-buy-button:hover {
	background-color: transparent;
	border: 2px solid var(--white-color);
}

.maqueen-info-buy-button .circle svg path {
	fill: var(--pink-color);
}

.maqueen-info-buy-button.alternate {
	color: var(--white-color);
	background-color: transparent;
	border: 2px solid var(--white-color);
}

.maqueen-info-buy-button.alternate:hover {
	background-color: var(--pink-color);

	border: 2px solid var(--pink-color);
}

.maqueen-info-buy-button.alternate .circle {
	background-color: var(--pink-color);
}

.maqueen-info-buy-button.alternate:hover .circle {
	background-color: var(--white-color);
}

.maqueen-info-buy-button.alternate:hover .circle svg path {
	fill: var(--pink-color);
}

.alternate .circle svg path {
	fill: white;
}

/*Адаптив Maqueen*/
@media(max-width:1384px) {
	.maqueen-info-actions {
		flex-direction: column;
		row-gap: 20px;
	}

	.maqueen-info-buy-button {
		width: 100%;
		justify-content: space-between;
	}
}

@media(max-width:1187px) {
	.maqueen:after {
		width: 100%;
		height: 5%;
	}
}

@media(max-width:900px) {
	.maqueen-info {
		max-width: none;
		width: 100%;
	}

	.maqueen-image {
		display: none;
	}
}

@media(max-width:600px) {
	.maqueen:after {
		width: 100%;
		height: 3%;
	}
}

@media(max-width:500px) {
	.maqueen-info-title {
		font-size: 2rem;
	}
}

@media(max-width:350px) {
	.maqueen:after {
		width: 100%;
		height: 2%;
	}
}

/*Стилизация Presentation*/
.presentation {
	background-color: var(--human-color);
	padding-inline: 14.333vw;
	padding-top: 8.887vh;
	padding-bottom: 15.887vh;
	position: relative;
}

.presentation:after {
	content: "";
	display: block;
	position: absolute;
	width: 100%;
	height: 7%;
	bottom: 0;
	left: 0;
	background-image: url('/icons/Footer-gray.svg');
	background-repeat: no-repeat;
	background-size: cover;
}

.presentation-card-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	column-gap: 40px;
	margin-bottom: 50px;
}

.presentation-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 13px;
	padding: 30px 26px;
}

.blue {
	background-color: var(--blue-color);
}

.pink {
	background-color: var(--pink-color);
}

.orange {
	background-color: var(--orange-color);
}

.presentation-card-image {
	margin-bottom: 20px;
}

.presentation-card-title {
	margin-bottom: 20px;
	text-align: center;
}

.presentation-card-subtitle {
	text-align: center;
}

/*Видео-блок*/
.presentation-video-container {
	display: flex;
	flex-direction: row;
	column-gap: 60px;

}

.presentation-video {
	border-radius: 15px;
	width: 700px;
	height: 700px;
	object-fit: contain;
}

.presentation-video-info {
	background-color: var(--blue-color);
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-inline: 2.604vw;
}

.presentation-video-title {
	font-size: 2.5rem;
	margin-bottom: 20px;
}

.presentation-video-subtitle {
	font-size: 1.25rem;
	margin-bottom: 20px;
}

.presentation-video-actions {
	display: flex;
	flex-direction: row;
	width: 100%;
	column-gap: 20px;
}

.thomas-info-buy-button {
	width: 100%;
}

/*Адаптация Presentation*/
@media (max-width:1582px) {
	.presentation:after {
		width: 100%;
		height: 5%;
	}
}

@media(max-width:1546px) {
	.presentation-video-container {
		align-items: center;
	}

	.presentation-video-info {
		padding-block: 30px;
	}

	.presentation-video-actions {
		display: flex;
		flex-direction: column;
		width: 100%;
		row-gap: 20px;
	}
}

@media(max-width:1340px) {
	.presentation-video {
		width: 400px;
		height: 500px;
		object-fit: contain;
	}
}

@media(max-width:1224px) {
	.presentation-video-title {
		font-size: 2rem;
		margin-bottom: 20px;
	}

	.presentation-video-subtitle {
		font-size: 1rem;
		margin-bottom: 20px;
	}
}

@media (max-width:1155px) {
	.presentation:after {
		width: 100%;
		height: 2%;
	}
}

@media(max-width:1150px) {
	.presentation-video-container {
		flex-direction: column;
		row-gap: 30px;
	}

	.presentation-video {
		width: 500px;
		height: 600px;
		object-fit: cover;
	}

	.presentation-card-container {
		flex-direction: column;
		row-gap: 20px;
	}

	.presentation-card {
		display: grid;
		grid-template-columns: auto 1fr;
		padding: 30px;
		align-items: center;
		justify-content: center;
		column-gap: 20px;
	}

	.presentation-card-subtitle {
		grid-column: 2 /3;
		text-align: left;
		margin-bottom: 0;
	}

	.presentation-card-title {
		text-align: left;
		margin-bottom: 0;
	}

	.presentation-card-image {
		grid-row: 1/3;
	}
}

@media(max-width:715px) {
	.presentation-video {
		width: 300px;
		height: 400px;
		object-fit: cover;
	}

	.presentation-video-info {
		padding-block: 20px;
		padding: 20px;
		text-align: center;
	}
}

@media(max-width:660px) {
	.presentation:after {
		display: none;
	}
}

@media(max-width:600px) {
	.presentation:after {
		width: 100%;
		height: 3%;
	}
}

@media(max-width:530px) {
	.presentation-video {
		width: 250px;
		height: 350px;
		object-fit: cover;
	}

	.presentation-card-container {
		flex-direction: column;
		row-gap: 20px;
	}

	.presentation-card {
		display: flex;
		text-align: center;
	}
}

@media(max-width:350px) {
	.presentation:after {
		width: 100%;
		height: 2%;
	}
}

/*Стилизация Footer*/
.footer {
	background-color: var(--gray-color);
}

.footer-nav-bar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 20px 14.333vw 43px;
	column-gap: 20px;
}

.footer-logo-link {}

.footer-logo {
	display: flex;
	flex-direction: row;
	align-items: center;
	column-gap: 13px;
}

.footer-logo span {
	font-family: "Poppins";
	font-weight: 600;
	font-size: 1.5rem;
}

.footer-nav-list {
	display: flex;
	flex-direction: row;
	align-items: center;
	column-gap: 90px;
	font-size: 1.125rem;
}

.footer-nav-item {
	font-weight: 600;
	position: relative;
}

.footer-nav-item:before {
	content: "";
	width: 0px;
	height: 2px;
	background-color: rgb(255, 255, 255);
	position: absolute;
	display: block;
	bottom: -5px;
	left: 0;
	transition: all 0.2s;
}

.footer-nav-item:hover:before {
	width: 100%;
}

.footer-nav-link {
	position: relative;
}

.footer-nav-link::before {
	content: '';
	position: absolute;
	display: block;
	top: -15px;
	left: -25px;
	right: -25px;
	bottom: -15px;
}

.footer-market-links {
	display: flex;
	flex-direction: row;
	column-gap: 20px;
	align-items: center;
}

.footer-market-links a {
	outline: 2px solid transparent;
	padding: 5px;
	border-radius: 10px;
	transition: all 0.2s;
}

.footer-market-links a:hover {
	outline: 2px solid var(--white-color);
	padding: 5px;
	border-radius: 10px;
}

/*Адаптация Footer*/
@media(max-width:1035px) {
	.footer-nav-list {
		display: none;
	}
}

@media(max-width:1030px) {
	.header-nav-list {
		column-gap: 30px;
	}
}


@media(max-width:865px) {
	.footer-nav-bar {
		padding-block: 20px;
		flex-wrap: wrap;
		row-gap: 20px;
	}

	.footer-logo span {
		font-size: 1.3rem;
	}

	.footer-nav-item {
		font-size: 1rem;
	}

	.footer-logo img {
		width: 40px;
	}

	.footer-nav-list {
		order: 1;
		width: 100%;
		justify-content: space-between;
	}
}

@media(max-width:375px) {
	.footer-nav-bar {
		flex-direction: column;
		align-items: center;
	}
}